<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/external.css" rel="stylesheet" />
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/popper.js"></script>
    <script src="~/scripts/bootstrap.js"></script>

    <script src="~/scripts/my.js"></script>

    <script src="~/scripts/jquery.validate.min-1.17.0.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
   
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index">Home page<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                   @* <div class="dropdown">
                        <a class="nav-link">Catalog page</a>
                        <div class="dropdown-content">
                            <a asp-action="Catalog" asp-route-category="All">See all animals</a>
                            <a asp-action="Catalog" asp-route-category="Mammals">Mammals</a>
                            <a asp-action="Catalog" asp-route-category="Reptiles">Reptiles</a>
                            <a asp-action="Catalog" asp-route-category="Poultry">Poultry</a>
                        </div>
                    </div>*@
                    <a class="nav-link" asp-action="Catalog">Catalog<span class="sr-only">(current)</span></a>

                </li>
                <li class="nav-item active">
                    @*<a asp-action="Manage" class="nav-link">Administrator<span class="sr-only">(current)</span></a>*@
                    <a class="nav-link" asp-action="Manage">Administrator</a>
                    @*<a class="nav-link" asp-action="Manage">Administrator<span class="sr-only">(current)</span></a>*@
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderSection("section1", false)
        @RenderBody()
    </div>
</body>
</html>
